@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
    background-color: #F2F2EB;
    font-family: 'Poppins';
    padding-bottom: 20px;
}

.container {
    margin: auto;
    width: 1000px;
    padding: 10%;
}

h1 {
    color: #010103;
    font-weight: 500;
    font-size: 40px;
    margin: 0; /* */
}

h2 {
    color: #010103;
    font-weight: 500;
    position: relative;
    float: left;
    font-size: 20px;
    margin: 0;
    
}

h3 {
    font-weight: 500;
    color: #4B5658;
    font-size: 20px;
}

h4 {
    font-weight: 500;
    color: #939A9B;
    font-size: 20px;
}

p {
    font-style: normal;
    font-weight: 400;
    color: #4B5658;
    font-size: 20px;
}

div.intro {
    position: relative;
    display: grid;
    grid-template-columns: auto auto; /* */
    grid-column-gap: 50px; /* */
    margin-bottom: 80px; /* */
}

.i-title {
    position: relative;
}

.i-text {  
    word-wrap: break-word;
    /* */
    /* */
}

.i-pfp {
    max-width: 100%;
    height: auto;
    display: flex; /* */
    align-items: center; /* */
    justify-content: center; /* */
}

div.accent {
    position: absolute;
    z-index: -1;
    left: 155px;
    bottom: 0;
    background: linear-gradient(81.61deg, #E3A761 -20.86%, #FCBE91 97.36%); /* */
    width: 172px; /* */
    height: 27px; /* */
    border-radius: 20px; /* */
}

.arrow {
    position: relative;
    padding-top: 0.9%;
    left: 1%;
}

a {
    text-decoration: none;
}

.website,
.comm {
    justify-content: center;
    /* height: 350px; */
    display: flex;
    margin-bottom: 50px;
    align-items: center;
}

.w-img,
.c-img {
    padding: 0px 70px 0px 20px;
}

.p-title,
.w-title,
.c-title {
    display: flex;
    align-items: center;
}

.p-title {
    margin-bottom: 10px;
}

.w-desc,
.c-desc {
}

.p1-date {
    width: auto;
    padding-top: 2%;
}

.p1-text {
    position: relative;
    margin-top: -2%;
}

.p1-title {
    position: relative;
}

.p1-desc {
    padding-top: 4%;
    height: 250px;
}

.ct-desc {
    padding-top: 4%;
    height: 150px;
}

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 20px; /* Some padding */ 
    border: 0px;
    border-radius: 20px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 20px;
}

input[type=submit] {
    background: linear-gradient(81.61deg, #E3A761 -20.86%, #FCBE91 97.36%);
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 20px;
    color: #010103;
    padding: 12px 23px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s ease;
}

input[type=submit]:hover {
    background: linear-gradient(30.61deg, #E3A761 -20.86%, #FCBE91 97.36%);
    /* transition: 0.5s ease; */
}

.social {
    position: relative;
    /* padding: 20%;
    padding-left: 20%;
    margin-top: -25%; */
    display: flex;
    justify-content: space-between;
    /* max-width: 185px; */
    transition: 0.5s ease;
    width: 200px;
    margin-left: 50px;
}

.w-title:hover,
.c-title:hover,
#linkedin:hover,
#github:hover,
#behance:hover,
#twitter:hover {
    opacity: 0.5;
    transition: opacity 0.5s ease;
}

.form-lower {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 1200px) {
    .container {
        width: 85%;
    }
}

@media only screen and (max-width: 685px) {
    div.intro {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }

    .website,
    .comm {
        flex-direction: column;
    }

    .w-img,
    .c-img {
        padding: 0px 0px 20px 0px;
    }
}

@media only screen and (max-width: 360px) {
    div.accent {
        left: 20px;
    }
}